#content {
    margin: 30px auto;
    width: 750px;
}

#info {
    float: right;
    text-align: right;
    margin-right: 100px;
}

#info ul {
    list-style-type: none;
}

pre {
    font-size: 7px;
    line-height: 4px;
}

